
<% @posts.each do |post| %>

                <h2>
                  <%= link_to post.title,  post  %> 
                </h2>
                <p class="lead">
                    by <%= link_to post.user.name, post.user %>
                </p>
                <p><span class="glyphicon glyphicon-time"></span><%= post.created_at.strftime("%d %B, %Y at %H:%M ")%></p>
                <hr>
		<%= image_tag post.image.url(:large) %>

                <hr>

      <p><%= sanitize(truncate(post.content, length: 350)) %></p>
<%= link_to post, class: 'btn btn-primary' do  %> 
                Read More <span class="glyphicon glyphicon-chevron-right"></span>
<% end %>
                <hr>
<% end %>
<%= paginate @posts %>
