                <!-- Blog Post -->

                <!-- Title -->
                <h1><%= @post.title %></h1>

                <!-- Author -->
                <p class="lead">
                    by <a href="#"><%= @post.user.name%></a>
                </p>

                <hr>

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> Posted on <%= @post.created_at %></p>

                <hr>

                <!-- Preview Image -->
                <%= image_tag @post.image.url(:large) %>

                <hr>

                <!-- Post Content -->
              
                <p><%= @post.content%>
                </p>

                <hr>

                <!-- Blog Comments -->

                <!-- Comments Form -->
                <div class="well">
                    <h4>Leave a Comment:</h4>
                      <%= form_tag("/comments/create", method: "post") do %>
                      <div class="form-group">
			<%= text_field  :comment,:name, class: 'form-control', placeholder: 'Enter your Name' %>
			<%= text_area  :comment,:comment, class: 'form-control', placeholder: 'Your comment...' %>
			<%= hidden_field  :comment,:post_id, value: @post.id %>

                      </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
			<% end %>
                </div>

                <hr>

                <!-- Posted Comments -->


		<% @post.comments.each do |comment|%>
                <!-- Comment -->		
                <div class="media">

                    <div class="media-body">
                        <h4 class="media-heading"><%= comment.name %>
                            <small><%= comment.created_at %></small>
                        </h4>
			<%= comment.comment %>
                    </div>
                </div>
		<% end %>

